body{
    background-color:lightgray;
    background-image: url(https://i.pinimg.com/originals/ff/73/a8/ff73a8bf1b107c77bc48f82c35700251.jpg);
    
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;    
}
.plus{
    grid-row: span 2;  
    /* font-size: 500px !important;   */
}


.btn{
    
    font-size: 30px;
    border-radius: 20px;
}

.btn:hover{
    transform: scale(1.1);
}

.input{
    grid-column: span 4;
    font-size: 30px;
    border-radius: 20px;

}

h1{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 40px;
    color: whitesmoke;
    font-family: cursive;
    font-weight:bolder
}

